import( Biobase )
import( bsseq )

importClassesFrom(bsseq, BSseq)
exportClasses("SeqCountSet") 
exportMethods(
              normalizationFactor, "normalizationFactor<-",
              dispersion, "dispersion<-"
              )

export(
       newSeqCountSet,
       estDispersion, 
       estNormFactors, 
       waldTest,
       callDML,
       makeBSseqData
)

