import( Biobase )
import( bsseq )
import(methods)
useDynLib(DSS)
exportClasses("SeqCountSet") 
exportMethods(
              normalizationFactor, "normalizationFactor<-",
              dispersion, "dispersion<-"
              )

export(
       newSeqCountSet,
       estDispersion, 
       estNormFactors, 
       waldTest,
       DSS.DE,
       DMLtest,
       callDML,
       callDMR,
       makeBSseqData,
       showOneDMR
)

